/* 
        Howdy! 
        This is your styling page (css: casscading style sheet)
        
        This is a comment. Outside of this section, you will add
        specific styles to add some pizzaz to your website.
 */

 h1{
         color: maroon;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 80px;

 }

 img{
         height: 100px;
 }

/* .red-hover{ */
        color: maroon !important; /*!important tells the system to picj this above all */
}

/* .red-hover:hover{ */
        color: rebeccapurple !important;
}

/* .red-hover:active{ */
        color: blue !important;
}