/* 
        Howdy! 
        This is your styling page (css: casscading style sheet)
        
        This is a comment. Outside of this section, you will add
        specific styles to add some pizzaz to your website.
 */


 .aggie_title{
         color: #500000;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 80px;

 }


.red-hover{
        color: maroon !important; /*!important tells the system to pick this above all */
}

.red-hover:hover{
        color: rebeccapurple !important;
}

.red-hover:active{
        color: blue !important;
}

/* background img control */
.bodyindex {
        background-image: url('img/background_use.jpg');/* this is to control the background image*/
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: cover; */ /*cover doesn't allow the image to like auto adjust with size of window, don't understand why*/
}

/*.name is for class attributes called in <a class="..."*/
/* home page text control */
.name {
        font-size: 75px;
        color: white;
        padding-top: 12%;
        padding-bottom: 0%;
        font-family: 'Oswald', sans-serif;
}
    
.backtext {
            font-family: 'Open Sans', sans-serif;
            font-size: 50px;
            color:white;
            font-family: 'Oswald', sans-serif;
            margin: 0;
}


/*      class = "text-center" centers the text in the <p> block
        class = "name" / "backtext" are classes I created to format in the style.css file separately from the other classes
        class = "h1" / "h2" increases and decreases the size of the font
        id = "maroon" is an ID class I created to format in the style.css file separately from all others (you can only have one id in every file)
        padding controls the whitespace corresponding to the block */

/* 
.background-color{
        color
}

.padding_tb{
        padding-left: 55%;        
        padding-right: 55%;        

}

.margin{
        margin: x%;
}


*/

footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #500000;
      padding-top: 2px;
      color: white;
}

.centernav{
        width: 100% !important;
        left: 0;
}

.navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
}

/* to control the brand logo */
.navbar-brand {
         padding: 7px;
        /* height: auto;  */

}

.navbar-brand > img {
        
         /* display: block; */
        max-width: 75px;
        /* height: 100%; */
}

/*is what name says*/
.Long_title{
        font-size: 30px;
}

/* @media only screen and (max-device-width: 100px) {
        .navbar-brand > img {
        
                display: block;
                max-width: 20%;
                height: auto;
              }
               
} */